name: Deploy CSCAT Scanner to AWS

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AWS_REGION: eu-west-2
  TF_WORKING_DIR: iac/terraform
  LAMBDA_FUNCTION_NAME: cscat-dev-scanner

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{secrets.AWS_ACCOUNT_ID}}:role/GitHubActions-DevSecOps-Role
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      - name: Terraform Init
        id: init
        run: |
          terraform init -backend-config="bucket=${{ secrets.TF_STATE_BUCKET }}" \
          -backend-config="dynamodb_table=${{ secrets.TF_LOCK_TABLE }}"
        working-directory: ${{ env.TF_WORKING_DIR }}

      - name: Terraform Plan
        id: plan
        run: terraform plan -input=false -out=tfplan
        working-directory: ${{ env.TF_WORKING_DIR }}

      - name: Terraform Apply (CREATES INFRASTRUCTURE)
        run: terraform apply -auto-approve tfplan
        working-directory: ${{ env.TF_WORKING_DIR }}

      # -------------------------------------------------------------
      # CODE PACKAGE AND DEPLOYMENT (Zip Method)
      # -------------------------------------------------------------
      - name: Package Python Code and Dependencies
        id: package
        run: |
          # The pipeline needs Python dependencies installed for this step
          pip install -r src/lambda_scanner/requirements.txt

          # Create a directory to assemble the package
          mkdir -p package_dir

          # Install dependencies into the package directory
          pip install -r src/lambda_scanner/requirements.txt -t package_dir

          # Copy the Lambda handler code (app.py)
          cp src/lambda_scanner/app.py package_dir/

          # Create the final zip archive
          cd package_dir
          zip -r ../scanner.zip .
          cd ..

      - name: Upload Zip File to S3 Report Bucket
        run: |
          aws s3 cp scanner.zip s3://${{ secrets.REPORT_BUCKET_NAME }}/deployment/scanner.zip

      - name: Update Lambda Function Code Source
        run: |
          aws lambda update-function-code \
            --function-name ${{ env.LAMBDA_FUNCTION_NAME }} \
            --s3-bucket ${{ secrets.REPORT_BUCKET_NAME }} \
            --s3-key deployment/scanner.zip \
            --region ${{ env.AWS_REGION }}
